# conda cpython_env requirements.txt
# use val.yaml only

absl-py==2.1.0
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
fonttools==4.53.1
grpcio==1.65.2
imageio==2.9.0
importlib_metadata==8.2.0
importlib_resources==6.4.0
joblib==1.4.2
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.1
networkx==2.5.1
numpy==1.23.5
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
Pillow==8.2.0
protobuf==4.25.4
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.1.1
PyYAML==6.0.1
scikit-image==0.19.3
scikit-learn==1.5.1
# scipy==1.13.1
seaborn==0.13.2
six==1.16.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tifffile==2024.7.24
torch==1.8.1
torchvision==0.9.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.3
zipp==3.19.2
