# logs
logs

# model result
models
performance
results
training
preprocessing/LAT_LON
preprocessing/Land_mask
preprocessing/is_land_on_GOCI.npy
preprocessing/is_land_on_GOCI_modified_1_999.npy

# Notebook
Notebook/output

# anaconda.sh
anaconda.sh

#
*.run
model/__pycache__/*.cpython-39.pyc
preprocessing/is_land_on_GOCI_modified_1_999.npy
Notebook/land_sea_mask.npy
*.log
preprocessing_goci_rrs_43to45.log